html{
    background-color: rgb(250, 248, 248);
}
body{
    margin: 0;
    padding: 0;
}
header{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: cornflowerblue;
    color: white;
}
h1{
    color: yellowgreen;
}
h2{
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    background-color: rgb(198, 192, 196);
    text-align: center;
    color:rgb(78, 80, 83);
}

.btn, .table, .forms, .progress{
    margin: 50px;
    text-align: center;
}

.cap{
    font-size: x-large;
}
.btn{
    width: 150px;
    height: 80px;
    border-radius: 6px;
    background-color: cornflowerblue;
    color: white;
    font-size: medium;
}

#pbcontainer{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.table{
    margin: 0px auto;   /*set the table to center */
    width: 60%;
    border: 1px solid rgb(38, 37, 37);
    border-collapse: collapse;
}
th{
    background-color: cornflowerblue;
    color: white;
}

th,td{
    text-align: center;
    border: 1px solid black;
    width: 150px;  
    height: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.forms>input{
    margin-bottom: 10px;
    width: 35vw;
    height: 25px;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
}

input[type=submit]{
    background-color: cornflowerblue;
    color: white;
}

.progress{
    width: 50%;
    margin-top: 20px;
}