h1{
    padding-left: 70px;
    color: black;
}

#details{
    width:90%;
    background-color: turquoise;
    margin: 50px auto;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

#forgot{
    color: black;
}
 
input[type=email], input[type=password], input[type=submit]{ 
    width: 280px;
    height: 40px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 15px;
}

 input[type=submit]{ 
    background-color: rgb(69, 94, 173);
    color: white;
}
#extra{ 
    font-size: 1ex;
}

form{
    margin: 5vw;
}

#container1>a{
    margin-left: 30px;
}